<div class="pseudo">
    {% if member.id == app.user.id %}
        {{ member.getFullname}}     
    {% else %}
        <a href="{{ path('app_member_view', {'id':member.id}) }}" >{{ member.getFullname}}</a>
    {% endif %}
</div>
