{% extends 'layout.html.twig' %}


{% block content %}
   
    <h1>Liste des utilisateurs</h1> 
    
    {% for member in allmember %}
        {# {% include 'article/preview.html.twig' with {"article": article} only %}  #}
        
        <div class="jumbotron">
            <a href="{{ path("app_member_view", {"id":member.id}) }}">voir le profil</a>
            <h3>{{ member.getFullname}}</h3>
            <h3> {{ member.email}}</h3>
            <h3> {{ member.phone}}</h3>
            
        </div>

        
    {% endfor %}
    
{% endblock %}

