.navbar-inverse{
    margin-bottom: 0;    
}
.user-row {
    margin-bottom: 14px;
}
.user-row:last-child {
    margin-bottom: 0;
}
.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}
.dropdown-user:hover {
    cursor: pointer;
}
.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}
.table-user-information > tbody > tr:first-child {
    border-top: 0;
}
.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad{
    margin-top:20px;
}
.comment{
    display: none;
}
.comment .list-group-item{
    padding: 0;
}
.comment p{
    margin-bottom: 0;
}
.comment small{
    font-size: 12px;
    margin-right: 2px;
}
.comment h6{
    font-size: 15px;
    padding: 5px 15px;
    margin-top: 0;
}
.comment p{
    font-size: 14px;
    margin-left: 10px;
}
.showcomment{
    margin-bottom:5px;
}
.hidecomment{
    margin-bottom:5px;
    display:none;
}
.vignette_avatar{
    max-height: 30px;
    display: inline;
    float:left;
    margin: 0px 5px 5px 5px;
    border-radius: 15px;    
}
.vignette_avatar_haut{
    max-height: 30px;
    display: inline;
    float:left;
    margin: 10px 0 5px 10px;
    border-radius: 15px;    
}
.pseudo{
    display: inline;
    font-size: 25px;
    color: #7c4d25;
    text-decoration: none;
}
.pseudo a{
    text-decoration: none;
    color: #7c4d25;
}
.article_content{
    font-size: 15px; 
    margin: 15px;
}
.article{
    border: 1px solid whitesmoke;
    border-radius: 10px;
    margin: 12px 12px;
    background: WhiteSmoke;
    box-shadow: 2px 2px 2px 0px;
}
.titre_article{
    text-align: center;
    text-transform: uppercase;
}
.haut{
    background: #FFB6CF;
    border-bottom: 1px solid #FFB6CF;
    padding: 5px;
    border-radius: 10px 10px 0 0 ;
}
.showcomment, .hidecomment{
    margin: 0 0 0 15px;
}
div button{
    margin: 0 0px 10px 0;
    background: #FFB6CF;
}
div .button:hover{
    background: #ff2971;
    color: white;
}
div .btn-xs:hover{
    background: #ff2971;
    color: white;
}
.commentaire{
    margin: 15px;
}
article form{
    margin: 15px;
}
.commentaire .pseudo{
    font-size: 13px;
}
.commentaire .vignette_avatar{
    max-height: 20px;
    border-radius: 15px;
}
body{
    font-family: 'EB Garamond', serif;
}
.panel-info>.panel-heading{
    background: #FFB6CF;
    color: #7c4d25;
    border: none;
}
.navbar-default{
    background: #FFB6CF;
    border-color: #FFB6CF;
    border-radius: 0px;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand{
    color: #7c4d25;
}
.article a{
    text-decoration: none;
}
.avatar_list{
    height:150px;
}
.list-member{
    background-color: #EFEFEF;
    box-shadow: darkslategray 5px 5px 5px;
    margin-bottom: 10px;
}
aside{
    border: 1px #ff2971 solid;
    border-radius: 5px;
}
h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}
.aside{
    position: relative;
    margin-top: 13px;
    background: white;
}
.boutton{
    position: relative;
    margin-top: 25px;
}
div .formu{
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.albumphoto{
    width: 240px;
}
.ligne-photo{
    padding:0;
}
.user_menu{
    margin-top: 50px;
    background : lightgrey;
    padding: 50px;
    position: relative;
    top: 50px;
}
.picture_article{
    margin: 0 15px 15px 15px;
    max-width: 695px;
}
.icone{
    color: #7c4d25;
    height: 20px;
    position: relative;
    left: 10px;
}
.svg-inline--fa.fa-w-18{
    width: 2.125em;
    position: relative;
    margin-top: 5px;
}
.panel_haut{
    max-height: 50px;
}
.logo{
    height: 45px;
    width: 155px;
    margin-top: 3px;
}
.arbre{
    padding: 0;
}
.logo_acc{
    height: 150px;
    width: 240px;
    text-align: center;
}
a{
    color: #7c4d25;
}
.panel-info{
    border-color: white;
}
.btn-primary{
    color: black;
    background: #FFB6CF;
    border-color: #FFB6CF;
}
.btn-primary:hover{
    background: #ff2971;
    border: #ff2971;
}
.nav-tabs>li>a:hover{
    background: none;
    border: #FFB6CF;    
}
.deco{
    margin-left: 5px;
}
.actu{
    position: relative;
    right: 7px;
}
.actu a{
    height:40px;
}
.nav-tabs>li>a {
    border: 0px;
}
ul li .badge{
    background: #ff2971;
}
div button .badge{
    background: #7c4d25;
}
.ic_img{
    position: relative;
    right: 7px;
}

/* #ff2971 rose de l'arbre*/
/* #7c4d25 maron de l'arbre*/