
    
  
        {{ form_row(form.comment) }} {# affiche le bloc input pour ce champ #}
        <div class="form-btn-group pull-right">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <a href="{{ path('app_admin_category_index') }}" class="btn btn-default">retour</a>
        </div>
   
    

