{% extends 'layout.html.twig' %}



{% block content %}
    <h1> Modification pass </h1>
    
    {{ form_start(form) }} {# ouvre notre balise form #}
  
        
        {{ form_row(form.plainpassword) }}
        
        <div class="form-btn-group pull-right">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <a href="{{ path('app_user_view') }}" class="btn btn-default">retour</a>
        </div>
    {{ form_end(form) }} {# ferme notre balise form #}
{% endblock %}
